// Channel Recommended Component Styles

@import '../../Assets/Sass/variable.scss';

.channel-recommended__heading {
	margin-top: 0;
	margin-bottom: 30px;
	@include fontAll(400, 16px, 20px);
	color: #c2c2c2;
}

.channel-recommended__users {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	@include resetList;
}

.channel-recommended__user {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.channel-recommended__user-name {
	@include fontAll(700, 18px, 23px);
	color: #19202c;
}

@media only screen and (max-width: 1800px) {
	.channel-recommended {
		display: none;
	}
} ;
