// Channel Content Coponent Styles

@import '../../Assets/Sass/variable.scss';

.channel-content {
	width: calc(100% - 235px);
	height: calc(100vh - 86px);
	overflow: auto;
	transform: translateX(235px);
	@include transition;

	&--fluid {
		width: 100%;
		transform: translateX(0);
	}

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 1160px) {
	.channel-content {
		width: 100%;
		transform: translateX(0);

		&--fluid {
			width: 100%;
			transform: translateX(0);
		}
	}
}
