// Header Component Styles
@import '../../Assets/Sass/variable.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2001;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 70px 20px 30px;
}

.header .hamburger {
	margin-bottom: 6px;
	margin-right: 25px;
}

.header .logo__icon {
	margin-right: 60px;
}

.header .search {
	margin-right: 30px;
}

.header .search__icon {
	display: none;
}

.header__icons {
	display: flex;
	align-items: center;
	column-gap: 50px;
	@include resetList;
	margin-left: auto;
	margin-right: 50px;
}

.header__icon {
	display: flex;
}

@media only screen and (max-width: 900px) {
	.header__icons {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.header {
		padding: 20px;
	}

	.header .hamburger {
		display: none;
	}

	.header .logo__icon {
		margin-right: 10px;
	}

	.header .search__icon {
		display: block;
		margin-left: auto;
		margin-right: 24px;
	}
}
