@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	src: url('./Assets/Font/mulish-latin_cyrillic-700.woff2') format('woff2'),
		url('./Assets/Font/mulish-latin_cyrillic-700.woff') format('woff');
}
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	src: url('./Assets/Font/mulish-latin_cyrillic-regular.woff2')
			format('woff2'),
		url('./Assets/Font/mulish-latin_cyrillic-regular.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	padding-top: 86px;
	font-family: 'Mulish';
	font-size: 16px;
	line-height: 1.5;
	overflow: hidden;
}

img {
	vertical-align: middle;
}
